body {
    background-color: #141518;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

p, a {
    font-family: "Nunito Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin: 0px 150px 0px 150px;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

.mylogo {
    height: 26px;
    width: 94px;
}

#menu, #moon {
    color: #ffffff;
    font-size: 35px;
    margin-left: 25px;
}

/* media query for header */
@media (max-width: 1024px) {
    header {
        margin: 0px 100px;
    }
}

@media (max-width: 768px) {
    header {
        margin: 0px 50px;
    }
}

@media (max-width: 425px) {
    header {
        margin: 0px 27px;
    }
}


.hero {
    background: url(./Images/hero.png) no-repeat center center;
    height: 100vh;
    position: relative;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.herocontent {
    margin: auto;
    align-items: center;
    text-align: center;
    max-width: 930px;
    padding-bottom: 80px;

}

h1, p {
    text-align: center;
    color: #ffffff;
}

h1 {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 45px;
    padding-bottom: 30px;
}

p {
    font-family: "Nunito Sans", sans-serif;
    line-height: 35px;
    font-size: 23px;
    font-weight: 100;
}
/* media query fr hero section */
@media(max-width: 1024px){
    .herocontent {
        max-width: 750px;
        padding-bottom: 60px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 21px;
    }
}

@media(max-width: 768px){
    h1{
        font-size: 35px; 
    }
    p {
        font-size: 19px
    }
    .herocontent {
        max-width: 650px;
        padding-bottom: 50px;
    }
}

@media(max-width: 425px){
    .herocontent {
        max-width: 300px;
        padding-bottom: 160px;
    }
    h1 {
        font-size: 30px;
        font-weight: 200px;
        margin-top: 50px;
    }
    p {
        font-size: 16px;
    }
}

span {
    color: #08FFFF;
}

.peoplespan {
    background-color: #008080;
    color: #ffffff;
}

.hero-bottom-img {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
    bottom: 0;
    left: 0;
}

.port-high, .section-two, .sectionthree-group {
    color: white;
    margin: 0px 150px 0px 150px;

}

.port-bottom-img {
    width: 100%;
    height: auto;
    z-index: 1;
    bottom: 0;
    left: 0;
    margin-top: 100px;
}


h2 {
    font-family: "Jost", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.years {
    color: #414141;
}

.headlines {
    display: flex;
    justify-content: space-between;
    height: 45px;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}

/* media query for porthigh */
@media (max-width: 1024px) {
    .port-high, .section-two, .sectionthree-group  {
        margin: 0px 100px;
    }
    h2 {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    .port-high, .section-two, .sectionthree-group  {
        margin: 0px 50px;
    }
    h2 {
        font-size: 30px;
    }
    .headlines {
        padding-top: 100px;
        padding-bottom: 50px;
    }
}

@media (max-width: 425px) {
    .port-high, .section-two, .sectionthree-group  {
        margin: 0px 27px;
    }
    h2 {
        font-size: 25px;
    }
}

.coopera-card, .techstudiohr-card, .mediqmart-card, .bytealley-card {
    width: 100%;
    padding: 25px;
    background-color: #202124;
}

.details-one {
    padding-top: 20px;
}

.coopera-card-img, .techstudio-card-img, .mediqmart-card-img, .bytealley-card-img{
    width: 100%;
}

.coop-title {
    font-size: 25px;
    margin: 0;
    color: white;
    
}

.coop-sub {
    color: #8D8D8D;
    font-size: 20px;
    margin: 0;
}

.tag-one {
    border: #008080 solid 1px;
    display: inline-block;
    background-color: none;
    padding: 5px 15px;
    border-radius: 30px;
    width: 170px;
    height: 100%;
}

.tag-p {
    font-size: 18px;
    font-weight: 300px;
    color: #008080;
}

.title-group, .footerlinks-group {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: top;
    gap: 20px;
}

.title-sub {
    max-width: 100%;
    flex: 1;
}

.coop-para {
    text-align: left;
    font-style: italic;
    padding-top: 20px;
}

.cardgroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-card {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.view-project-btn {
    color: #08FFFF;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid #08FFFF;
    transition: background-color 0.3s ease;
}
/* new commit */

.inprogress-btn {
    color: red;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid red;
    transition: background-color 0.3s ease;
}

.project-card:hover .overlay {
    opacity: 1;
}

/* media query for card hover */
@media (max-width: 1024px) {
    .project-card:active {
        opacity: 1;
    }
    .view-project-btn, .inprogress-btn {
        font-size: 20px;
    }
}

/* media query for card group */
@media (max-width: 1024px) {
    .coop-title {
        font-size: 20px;
    }
    .coop-sub {
        font-size: 17px;
    }
    .tag-p {
        font-size: 15px;
    }
    .tag-one {
        padding: 5px 10px;
        border-radius: 30px;
        width: 130px;
    }
    .coop-para {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .coop-title {
        font-size: 18px;
    }
    .coop-sub {
        font-size: 15px;
    }
    .tag-p {
        font-size: 12px;
    }
    .tag-one {
        border-radius: 30px;
        width: 100px;
    }
    .coop-para {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .cardgroup {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.more-aboutme {
    text-align: left;
    padding-bottom: 30px;
    font-size: 20px;
}

.mainmore-aboutme {
    /* margin-top: 80px; */
    width: 100%;
}

.sectiontwo-group, .service {
    display: flex;
    justify-content: space-between;
    gap: 250px;
    width: 100%;
    margin-top: 100px;
}

h3 {
    color: #07EFEF;
    font-size: 20px;
    padding-bottom: 10px;
}

.key-stats {
    margin-top: 30px;
    margin-bottom: 50px;
}

hr {
    background-color: #414141;
    height: 1px;
    border: none;
}

.stat-details {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: left;
}

.sectiontwo-group {
    overflow-y: auto;
    max-height:100vh;
    /* width: 765px; */
}

.scroll-section {
    width: 765px;
}




/* media query for scroll section */
@media (max-width: 1024px) {
    .sectiontwo-group {
        gap: 200px;
    }
}

@media (max-width: 768px) {
    .sectiontwo-group {
        gap: 150px;
    }
    .more-aboutme, .stat-details, h3, .fineface-para {
        font-size: 17px;
    }
}

@media (max-width: 425px) {
    .sectiontwo-group {
        gap: 50px;
        flex-direction: column;
    }
    .more-aboutme, .stat-details, h3, .fineface-para {
        font-size: 16px !important; 
    }
    .scroll-section {
        width: 100%;
    }
    .fineface-para {
        font-size: 16px;
    }
}

.myfineface {
    filter: grayscale(100%);
    width: 100%;
}

.fineface-para {
    font-size: 20px;
    text-align: left;
}

.scroll-section::-webkit-scrollbar {
    display: none;
}

h4 {
    font-size: 25px;
}

.headlines-service {
    width: 390px;
}

.service {
    display: flex;
    justify-content: space-between;
    gap: 135px;
    width: 100%;
    margin-top: 100px;
}

.service-details {
    color: #8d8d8d;
    text-align: left;
    padding-bottom: 30px;
    font-size: 20px;
}

.service-title {
    text-align: left;
    padding-bottom: 5px;
    padding-top: 20px;
    font-size: 20px;
}

.service-titletop {
    text-align: left;
    padding-bottom: 5px;
    font-size: 20px;
}

/* media query for services */
@media (max-width: 1024px) {
    .headlines-service {
        width: 510px;
    }
    .service {
        gap: 70px;
    }
}

@media (max-width: 768px) {
    .headlines-service {
        width: 400px;
    }
    .service {
        gap: 50px;
    }
    h4 {
        font-size: 20px;
    }
    .service-details, .service-title, .service-titletop {
        font-size: 17px !important;
    }
}

@media (max-width: 425px) {
    .headlines-service {
        width: 400px;
    }
    .service {
        flex-direction: column;
        gap: 50px;
        margin-top: 80px;
    }
    h4 {
        font-size: 20px;
    }
    .service-details, .service-title, .service-titletop {
        font-size: 16px !important;
    }
}

.sectionthree-group {
    margin-top: 100px
}

.slider {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow-x: auto;
    width: 100%;
    height: auto;
    overflow: scroll;
    box-sizing: border-box;
    
}

.slider::-webkit-scrollbar {
    display: none;
}
.slider-card {
    width: 500px;
    background-color: #202124;
    padding: 25px;
    flex: 0 0 450px;
}

.slidercard-detail {
    text-align: left;
    font-size: 18px;
    padding-bottom: 20px;
    height: 200px;
    
}

/* media query for testimonials */
@media (max-width: 425px) {
    .slidercard-detail {
        font-size: 15px;
        height: 250px;

    }
    .slider-card {
        flex: 0 0 320px;
    }
}

.slidercard-title {
    padding-top: 10px;
}

.card-title {
    color: white;
    font-size: 19px;
    padding-top: 5px;
    margin-bottom: -5px;
}

.card-subtitle {
    font-size: 17px;
    color: #07EFEF;
    
}

.footer {
    background: url(./Images/footer.png) no-repeat center center;
    /* height: 650px; */
    position: relative;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.footer-title-para {
    margin: auto;
    align-items: center;
    text-align: center;
    max-width: 950px;
    padding-bottom: 50px;
    color: white;

}

.footertitle {
    font-size: 32px;
    margin-bottom: 20px;
}
.footerpara {
    font-size: 22px;
}

.footer-content {
    margin: 100px 150px 100px 150px;
    text-align: center;
}

.footerlogo {
    height: 26px;
    width: 94px;
}

.footer-nametag {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-sub {
    font-size: 17px;
    color: #71717A;
    text-align: left;
    margin-top: 10px;
}

.footerlinks-group {
    margin-top: 80px;
    display: flex;
    align-items: top;
}

/* media query for footer */
@media (max-width: 768px) {
    .footer-content {
        margin: 50px 50px 50px 50px;
    }
    .footerpara {
        font-size: 18px;
    }
    .footertitle {
        font-size: 30px;
    }
    .links {
        font-size: 18px !important;
    }
    .footer-title-para {
        padding-bottom: 30px;

    }
    .linksgroup {
        justify-content: center;
    }
}
@media (max-width: 425px) {
    .footer-content {
        margin: 50px 50px 50px 50px;
    }
    .footerpara {
        font-size: 16px;
        width: auto;
        
    }
    .footertitle {
        font-size: 26px;
        line-height: 40px;
    }
    .links {
        font-size: 18px !important;
    }
    .footer-title-para {
        padding-bottom: 30px;
        width: 300px;
    }
    .footerlinks {
        grid-template-columns: 1fr 1fr !important;
        width: 300px !important;
    }
    .linksgroup {
        justify-content: center;
    }
    .footerlinks-group {
        flex-direction: column;
        gap: 0px;
    }
    .footer-nametag {
        align-items: center;
    }
    .footer-sub, .footerlinks-sub {
        font-size: 15px !important;
    }
    .footerlinks-sub {
        text-align: center !important;
    }
}


.links {
    font-size: 22px;
    height: 28px;
    color: #8D8D8D;
    text-decoration: none;
    font-weight: 100;
}

.linksgroup:hover .links,
.linksgroup:hover #arrow {
    color: #07EFEF;
    
}

#arrow {
    color: #8d8d8d;
    font-size: 18px;
}

.linksgroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 28px;
    color: white;
}

.footerlinks {
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 20px;
    height: 36px;
    /* margin: 50px 175px 0 175px; trbl */
    margin: 50px auto ;
}

.footerlinks-sub {
    font-size: 17px;
    color: #71717A;
    text-align: right;
  
}